<ion-header class="header">
  <div class = "title">
  <ion-toolbar>
    <ion-title> {{ 'pages.notFound.title' |localize }} </ion-title>
  </ion-toolbar>
</div>
</ion-header>

<ion-content>

  <ion-card-title>
  <div class="went-wrong" > {{'pages.notFound.wentWrong' | localize}} </div>
</ion-card-title>

<div class ="wrong-page-img">
<ion-img [src]="wrongPage"></ion-img>
</div>
<div class="page-nf">
  <ion-card-title>
    {{'pages.notFound.pageNotFound' | localize}}
  </ion-card-title>
</div>

</ion-content>
