<ion-header>
  <ion-toolbar>
    <ion-title>

      <!-- Navigation-->
      <div class="container">
        <img src="../../../assets/logo/hmn_logo.png" alt="" width="200"
          class="d-inline-block align-text-top img-fluid my-3">
      </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <header class="masthead">
    <div class="container">
      <div class="row align-items-center m-0">
        <div class="col-lg-6">
          <!-- Mashead text and app badges-->
          <div class="mb-3 mb-lg-0 text-center text-lg-start">
            <h1 class="display-1 fw-bold lh-1 mb-3 text-white">Hear Me Now!</h1>

            <h1 class="lead text-white" style="font-size:24px">Help Achieve the United Nations Sustainable
              Development Goals (SDGs)</h1>

            <h3 class="lead fw-normal text-white">Post Your Projects-Gain Support-Meet Like Minded
              People</h3>
            <h3 class="lead fw-normal text-white">Get Funding Support-Become an HMN! Project Nominee</h3>
            <h3 class="lead fw-normal text-white">Win Awards and Recognition</h3>
            <h3 class="lead fw-normal text-white">Specific Categories Gives You More Opportunities!</h3>
            <h3 class="lead fw-normal text-white">Students By Age, Corporate By SDG and Impact</h3>

            <h3 class="lead fw-normal text-white"><a routerLink="/signup">Register Your Project Now </a>
            </h3>
            <h3 class="lead fw-normal text-white">
              Learn how HMN Can Support Your Humanitarian Projects (link to Our Mission Supports Your Mission)
            </h3>

            <div>
              <br><br>
              <p class="lead fw-normal text-white mb-5"> <strong>Benefits to You…</strong>
                <br>

                If you have a humanitarian project in place, in development or planned, Hear Me Now! is your opportunity
                to showcase it, develop a following, increase funding opportunities and gain further opportunities as an
                HMN! Project Nominee or HMN! Award Winner©
                <br><br>
                <strong>What You Need to Do…</strong>
                <br>Register yourself and post your project
                Activate your Donate Now button
                Ask your network to view your project and vote for it.
                <br><br>
                <strong>What We Will Do…
                </strong>
                <br> Projects with 50 or more votes will be evaluated by our panelists and if selected, will
                receive special recognition on the HMN! site as an HMN! Award Nominee © and we will help promote and
                drive attention to your project.
                HMN! Award Winners © will receive even greater support and their projects will be showcased to potential
                donors.
                <br><br>
                <a class="link-light" href="/landing#educators">Special programming for educators</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="../../../assets/img/portrait_black_rounded.png" width="100%">
        </div>
      </div>
    </div>
  </header>

  <!-- 1 section-->
  <aside id="section2" class="bg-red">
    <div class="container p-5" id="responsabilities">
      <h1 class="subtitle fw-bold lh-1 mb-1 text-white">OUR RESPONSIBILITIES TO YOU</h1>
      <p class="lead fw-normal text-white mb-5"><br><br>To magnify the voice of youth and young adults in the halls of
        government and corporate boardrooms by bringing attention to how they vote on issues that concern them and why
        they think that way about the issues. Vote tabulations will be provided to the media and submitted to government
        and corporate leaders. The votes you cast today are indicators of how you will vote in the future, and that
        carries weight with corporate and government officials.<br><br>
        Another responsibility is to provide a global platform for youth and young adults that will make it easier and
        safer for them to engage with others in forums, and to develop support for their projects through participation
        and funding.<br><br>
        Benefits to you:
      <ul class="icon-list text-white lead fw-normal">
        <li class="d-flex align-items-start mb-1">
          <div style="color:#193d59">#</div> Yours and the votes of others help make your voice heard because we will
          use media and our well-connected contacts to place your votes and your reasoning in front of decision makers
          and influencers.
        </li>
        <li class="d-flex align-items-start mb-1">
          <div style="color:#193d59">#</div> An easy to use platform for growing your community and gain support for
          your projects. We are here to help you make this a better world.
        </li>
        <li class="d-flex align-items-start mb-1">
          <div style="color:#193d59">#</div> Special, age-specific networking activities.
        </li>
        <li class="d-flex align-items-start mb-1">
          <div style="color:#193d59">#</div> Opportunities for advancement within your community.
        </li>
        <li class="d-flex align-items-start mb-1">
          <div style="color:#193d59">#</div> Opportunities to raise funds for your project.
        </li>
        <li class="d-flex align-items-start mb-1">
          <div style="color:#193d59">#</div> Opportunities for advancement within the Hear Me Now! universe as a HMN!
          Local Leader.
        </li>
        <li class="d-flex align-items-start mb-1">
          <div style="color:#193d59">#</div> We are representing you in the halls of government and corporate
          boardrooms.
        </li>
      </ul><br>
      <p class="lead fw-normal text-white mb-5">And finally…we’ll help you have fun as you achieve your goals!<br>
        All HMN free Voter and Survey programs are designed for specific age groups. <br>
        <a class="link-light" routerLink="/login">Learn more</a>
      </p>
    </div>

  </aside>

  <!-- 2 section-->
  <aside id="issue" class="bg-blue">
    <div class="container p-5">
      <div class="row g-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <h1 class="subtitle fw-bold lh-1 mb-3 text-white">For youth age 9-12 and 12-15</h1>
          <p class="lead fw-normal text-white mb-5">Vote on the issues that concern you, create your own cause or help
            support the causes of others, participate in important surveys, encourage others to join with you in
            supporting a cause and enjoy the opportunity to make new friends around the world. Join with your peers in
            online VoterMatchUps© with Discussions, Entertainment and the News you care about. You are on the path to
            become a global citizen.</p>
          <p align="center"><a class="me-lg-3 mb-4 mb-lg-0 text-center" routerLink="/login"><img class="app-badge"
                width="250px" src="../../../assets/img/badge.svg" alt="..." /></a></p>
        </div>
        <div class="feature col">
          <h1 class="subtitle fw-bold lh-1 mb-3 text-white">For young adults<br>age 16-24</h1>
          <p class="lead fw-normal text-white mb-5">Enjoy leadership opportunities as a member of the HMN
            ActionCommittee, and participate in online and onsite HMN activities such as HMN Forums, Workshops and
            Conferences.
            Vote on the issues that concern you, create your own cause or help support the causes of others, participate
            in important surveys, encourage others to join with you in supporting a cause and enjoy the opportunity to
            make new friends around the world. Join with your peers in online VoterMatchUps© with Discussions,
            Entertainment and the News you care about. You are on the path to become a global citizen.</p>
          <p align="center"><a class="me-lg-3 mb-4 mb-lg-0 text-center" routerLink="/login"><img class="app-badge"
                width="250px" src="../../../assets/img/badge.svg" alt="..." /></a></p>
        </div>
        <div class="feature col" id="educators">
          <h1 class="subtitle fw-bold lh-1 mb-3 text-white">For<br>Educators</h1>
          <p class="lead fw-normal text-white mb-5">Help your students become better, more involved citizens by
            introducing HMN’s Success Begins With Your Vote© discussion and voting program into your classroom. The
            outcomes are enhanced creative thinking, better research and communication skills and students who will be
            more involved in helping to solve problems in their community.</p>
          <p class="lead fw-normal text-white mb-5"> <a class="icon-link d-inline-flex align-items-center"
              routerLink="/login">
              Learn more about HMN’s Teacher Workshops that are accredited for Professional Development.</a></p>
          <p class="lead fw-normal text-white mb-5">Hear Me Now! is a program developed by Montessori Model UN and Youth
            for a Better World in collaboration with the JMAC Team at Algonquin University.</p>
        </div>
      </div>
    </div>

  </aside>

  <!-- About Us section-->
  <aside class="bg-black">
    <div class="container p-5">
      <h2 class="display-6 lh-1 mb-3 text-center" style="color:#ffffff">About Us</h2>
      <p class="lead fw-normal text-white mb-0">Hear Me Now! and Montessori Model UN are programs of Youth for a Better
        World,Inc., a 501 (c) (3) not for profit corporation with Special Consultative Status with the Economic and
        Social Council.</p>
    </div>
  </aside>


  <!-- Footer-->
  <footer class="text-center py-5" style="background-color:#173b5b">
    <div class="container px-5">
      <div class="text-white small">
        <div class="mb-2">&copy; Hear me now! 2022. All Rights Reserved.</div>
      </div>
    </div>
  </footer>

</ion-content>