<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" (click)="onBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'pages.resetPassword.title'|localize}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-wrapper">
    <ion-card class="card">
      <ion-card-content class="card-content">
        <ion-grid (ionChange)="validateForm()" (ionBlur)="validateForm()">
          <ion-row>
            <ion-col>
              <ion-item class="form-item">
                <ion-label class="form-item-label" position="floating">
                  {{'core.emailToken' | localize}}
                </ion-label>
                <ion-input
                  class="form-item-input"
                  type="number"
                  [(ngModel)]="form.values.emailToken"
                  (ionBlur)="form.touched.emailToken = true"
                ></ion-input>
              </ion-item>
              <ion-text
                *ngIf="form.touched.emailToken && form.errors.emailToken"
                color="danger"
                class="form-item-error"
              >
                {{form.errors.emailToken | localize}}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item class="form-item">
                <ion-label class="form-item-label" position="floating">
                  {{'core.password' | localize}}
                </ion-label>
                <ion-input
                  class="form-item-input"
                  type="password"
                  [(ngModel)]="form.values.password"
                  (ionBlur)="form.touched.password = true"
                ></ion-input>
              </ion-item>
              <ion-text
              *ngIf="form.touched.password && form.errors.password"
              color="danger"
              class="form-item-error"
            >
              <div class="form-item-error-password">
                {{form.errors.password | localize}}
                <ion-icon
                  aria-label=""
                  class="form-item-error-password-icon"
                  name="help-circle-outline"
                ></ion-icon>
                <div class="form-item-error-password-popper">
                  <div>
                    {{ 'errors.field.password.should.length' | localize }}
                  </div>
                  <div>
                    {{ 'errors.field.password.should.upper' | localize }}
                  </div>
                  <div>
                    {{ 'errors.field.password.should.lower' | localize }}
                  </div>
                  <div>
                    {{ 'errors.field.password.should.number' | localize }}
                  </div>
                  <div>
                    {{ 'errors.field.password.should.special' | localize }}
                  </div>
                </div>
              </div>
            </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item class="form-item">
                <ion-label class="form-item-label" position="floating">
                  {{'core.confirmPassword' | localize}}
                </ion-label>
                <ion-input
                  class="form-item-input"
                  type="password"
                  [(ngModel)]="form.values.confirmPassword"
                  (ionBlur)="form.touched.confirmPassword = true"
                ></ion-input>
              </ion-item>
              <ion-text
                *ngIf="form.touched.confirmPassword && form.errors.confirmPassword"
                color="danger"
                class="form-item-error"
              >
                {{form.errors.confirmPassword | localize}}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                (click)="onUpdate()"
                class="form-item-update"
                [disabled]="!form.isValid"
              >
                {{'pages.resetPassword.button.resetPassword' | localize
                }}</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
